#myModal.modal.fade
 i.fa.fa-times-circle-o(data-dismiss="modal", data-target="#myModal")
 .modal-dialog
  .modal-header Choose your guide:
  .modal-body
    p Please add your info & we'll ship you a language guide for your adventure.
    input(type="text", ng-model="formData.name", placeholder="Your Name", required)
    input(type="email", ng-model="formData.email", placeholder="E-mail", required)
    input(type="text", ng-model="formData.address", placeholder="Shipping Address", required)

    span.choose Choose laungage:
    select(ng-model="formData.guide", ng-options="guide for guide in guides", required)

    button.free-button.submit-button(data-dismiss="modal", data-target="#myModal", ng-click="submitForm(); thankYou()") Submit

div.hero-box
 img.hero-image(src="/images/mongolia.png")
 img.guide-zoom(src="/images/open-in-hands.png")

div
 div.free-intro

  p.thanks(ng-show="showThanks") Cool!  Your story has been sent our way.
  h2 Helping Students say 'Hello'
  p If you are a student and need a language guide for your travels, we want to help.
  p Write a short story about what might happen if you say "hello" to people you meet.
  p In return for your efforts, we'll ship you any guide you like.

  div.write-here-message Craft your story here:
  textarea.story-box(ng-model="formData.story", placeholder="eg. We had never tasted anything quite like it.")

 button.free-button(data-toggle="modal", data-target="#myModal") My Masterpiece is Finished!
