div(ng-click="typing = !typing") {{typing}}
	div.free-intro(ng-show="typing", class="ng-hide") We love the idea of students talking to those they meet.
		| Therefore, we're making it easy for students to get a free
		| language guide. All you have to do is create a fictional story
		| (humor us, write at least ~30 words) that might occur if you
		| talk to people you meet during your travels.


form.story-form
textarea.story-box(ng-keydown="", placeholder="It had rained for 6 straight days.")

//- button.submit-button(ng-click="showform=!showform") Finished!

a(href="/demo")
	img.guide-corner(src='/images/guide-corner.jpg')

div(ng-controller="ModalDemoCtrl")
	script(id='myModalContent.html', type='text/ng-template')

		// NOTE WHO THE TEXT IS DIFFERENT, BECAUSE ITS A SCRIPT!!!!

		input(name='name', placeholder="Your Name", required, ng-model="firstName")
		input(name='name', placeholder="Your Address", required)
		select
			option(ng-repeat="language in languages") {{language}}
		input(type="checkbox", name="completed", checked=(true===false ? "checked" : undefined)) Can we share your masterpiece?

		.modal-footer
			button.btn.btn-primary(ng-click="submit($event)") Submit
			button.btn.btn-warning(ng-click="cancel()") Cancel

	button.btn(ng-click="open()") Finished!
