img.hero(src='/images/mongolia.png');

div
	div.free-intro(ng-show="typing", class="ng-hide")
		p Student travelers should always be able to talk to those they meet.
		p If you are a student, we will happily ship you a free language guide for your travels.
		p Simply write a short story (below) about an adventure you might have if you say hello to people you meet during your adventures.
		p We'll ship you any guide you like.

	textarea.story-box(ng-keydown="typing = false", placeholder="When we knocked on the door, we had no idea what we would find...")

div.modal-area(ng-controller="ModalDemoCtrl")
	script(id='myModalContent.html', type='text/ng-template')

		input(name='name', placeholder="Your Name", required, ng-model="firstName")
		input(name='name', placeholder="Your Address", required)
		select
			option(ng-repeat="language in languages") {{language}}
		input(type="checkbox", name="completed", checked=(true===false ? "checked" : undefined)) Can we share your masterpiece?

		.modal-footer
			button.btn.btn-primary(ng-click="submit($event)") Submit
			button.btn.btn-warning(ng-click="cancel()") Cancel

	div.free-intro(ng-show="!typing", class="ng-hide")
		h2 Cool!
	button.btn.btn-primary(ng-click="open()") My Masterpiece is Finished!
