img.hero(src='/images/mongolia.png');

div
	div.free-intro
		p Student travelers should always be able to talk to those they meet.
		p If you are a student, we will happily ship you a <span>free</span> language guide for your travels.
		p Simply write a short story (below) about an adventure you might have if you say "hello" to people you meet during your adventures.
		p We'll ship you any guide you like.
		p Happy Travels!

	div.write-here-message Write your story here:
	textarea.story-box(placeholder="eg. We had never tasted anything quite like it.")

	//- div.modal-area(ng-controller="ModalDemoCtrl")
	#myModal.modal.fade
		.modal-dialog
			.modal-header Thank you!
			.modal-body We're going to redirect you to our donations page.
			.modal-body When you get there, please select <span>'KIDmob'</span> from the dropdown list.
			//- a.btn.btn-primary.donate-button(target="_blank", href="https://donatenow.networkforgood.org/1442843") Donate Now

	button.store-button.german-button(data-toggle="modal", data-target="#myModal") My Masterpiece is Finished!
