#myModal.modal.fade
 .modal-dialog
  .modal-header Excellent!
  .modal-body Now, add a bit of info, and we'll ship you a guide.


div.hero-box
 img.hero-image(src="/images/road_crop_no_arrow.png")
 img.guide-zoom(src="/images/guide-close-up-sepia.png")

 h2 Every student should be able to say 'Hello' to those they meet

div
 div.free-intro
  p 30 WORDS began as a tool to help our students interact with anyone they met.
  p We still support the idea that all student travelers should be able to talk to those they meet.
  p If you are a student and need a language guide for your travels, we want to help!
  p Simply write a short story (below) aboutwhat might happen if you say "hello" to people you meet.
  p We'll ship you any guide you choose.

  div.write-here-message Write your story here:
  textarea.story-box(placeholder="eg. We had never tasted anything quite like it.")

 button.free-button(data-toggle="modal", data-target="#myModal") My Masterpiece is Finished!
