block css
 link(rel='stylesheet', href='/css/landing.css')

.hero-container
 img.hero(src="/images/road_crop_no_arrow.png")
 div.hero-content
  h1.title Meet 30 WORDS
  h5.subtitle Language Guides for Adventurous Travelers

  ul#slides(ng-controller="LandingSlideshowCtrl")
    li.slide(ng-repeat="image in images", ng-class="{ active : image.isActive }")
      a(href="/demo")
        img.demo-image(src="{{ image.src }}", class="{{image.language}}")
        div.hello {{image.hello}}
        div.hello-transliteration {{image.transliteration}}

ul.languages-in-print
  p Languages in print:
  li(ng-repeat="guide in guides", ng-class="{{ guide.language | lowercase }}")
    a(href="/store/{{guide.langauge}}")
      i.fa.fa-dot-circle-o
      | {{ guide.language }}

ul.as-seen-in
  div.as-seen-in-title As seen in:
  li
    a.logo-item.practical-logo(href="")
  li
    a.logo-item.foxnews-logo(href="")
  li
    a.logo-item.nytimes-logo(href="")
  li
    a.logo-item.vagabonish-logo(href="")
  li
    a.logo-item.goBackpacking-logo(href="")
