block css
 link(rel='stylesheet', href='/css/landing.css')

.hero-container

  div.contact-box
    form.contact-form
      input(placeholder="enter your number")
      input(placeholder="enter your address")
      p Or call us: 415-989-2783

  ul#slides(ng-controller="LandingSlideshowCtrl")
    li.slide(ng-repeat="image in images", ng-class="{ active : image.isActive }")
      img(ng-src="{{image.src}}")
      div.content-box
        h2.subtitle {{image.headline}}
        h4.blurb {{image.blurb}}

.button-box
  a.big-button(href="/demo") Call us!