nav.nav-list
  a.logo-box(href='/')
    img.logo(src="/images/logo_30words_2.png")

  ul
    li
     a(href='demo', ng-class="{active-nav:isActive('/demo')}") Specs
    li
     a(href='', ng-class="{active-nav:isActive('/blog')}") Stories
    li
     a(href='free', ng-class="{active-nav:isActive('/free')}") Students
    li
     a(href='store', ng-class="{active-nav:isActive('/store')}", ng-click="reloadCtrl()") Store

  a.store-link(href='store') Store
