nav.nav-list
 a.logo-box(href='/', ng-click="reloadCtrl()")
  img.logo(src="/images/logo_30words.png")

 ul
  li
   a(href='/', ng-class="{active:isActive('/')}") Home
  li
   a(href='demo', ng-class="{active:isActive('/demo')}") Design & Reviews
  li
   a(href='free', ng-class="{active:isActive('/free')}") For Students
  li
   a(href='blog', ng-class="{active:isActive('/blog')}", ng-click="reloadCtrl()") Blog
  li
   a(href='store', ng-class="{active:isActive('/store')}", ng-click="reloadCtrl()") Store

 a.store-link(href='store', ng-class="{active:isActive('/store')}") Store