
nav.nav-list
  a.logo-box(href='/')
    img.logo(src="/images/logo_30words_2.png")

  ul
    li
     a(href='demo', ng-class="{active:isActive('/demo')}") Design
    li
     a(href='about', ng-class="{active:isActive('/about')}") About
    li
     a(href='', ng-class="{active:isActive('/blog')}") Blog
    li
     a(href='free', ng-class="{active:isActive('/free')}") Earn a Guide
    li
     a(href='store', ng-class="{active:isActive('/store')}") Store

  a.store-link(href='store', ng-class="{ng-hide:isActive('/store')}") Store
