nav.nav-list
  a.logo EveryWhere Repair

  ul
    li
      a(href='store', ng-class="{active:isActive('/store')}", ng-click="reloadCtrl()") Send As Gift
    li
      a(href='store', ng-class="{active:isActive('/store')}", ng-click="reloadCtrl()") Office Onsite

  a.contact-us Contact Us