div.top-main
  img.hero(src="/images/road_crop_no_arrow.png")
  div.store-top-content
    h1 Focused <i class='fa fa-circle'></i> Durable <i class='fa fa-circle'></i> Accessible
    ul.features-list
      li 900 words & phrases
      li 4 ounces
      li 100% waterproof
      li tear-proof
      li 100% upcycable

div(ng-controller="ShoppingCartCtrl")
  div#shopping-cart(ng-show="invoice.items.length", value="{{totalCostForStripe()}}", data-head="{{description}}")

    div.total
      img.total-logo(src="/images/logo_30words_store.png")
      p(ng-pluralize, count="totalNumberInCart()", when="{'0': 'No guides in your cart', 'one': '1 guide in your cart', 'other': '{} guides in your cart'}")
      p Your total is {{ totalCostForLocal() | currency:"$" }}

      button#customButton.stripe-button-el
        span Place Order
      span.bottom-braid

      script
        // this is the custom Stripe form, added by me
        var handler = StripeCheckout.configure({
        key: 'pk_LzkJmgBXMs1mjt0WBrlEzrowncsB9',
        image: '/images/guide-corner-squared.jpg',
        token: function(token, args) {
          // Use the token to create the charge with a server-side script.
          }
        });
        document.getElementById('customButton').addEventListener('click', function(e) {
        // Open Checkout with further options
          var amount = $('#shopping-cart').attr("value");
          var description = $('#shopping-cart').attr('data-head')
          handler.open({
            name: '30 WORDS',
            description: description,
            amount: amount
          });
          e.preventDefault();
        })

    div.all-languages-in-cart
      div.guide-in-cart-box(ng-repeat='item in invoice.items', ng-animate=" 'animate' ")
        div.guide-in-cart
          i.fa.fa-times-circle-o(ng-click="removeItem($index)")
          img(src='{{item.guide.image}}', width='80px')
          div.guide-in-cart-details
            p {{ item.guide.language }}
            td
              input.guide-quantity(type="number", ng-model="item.qty", ng-required, placeholder='1')
    p.add-more Click another guide to add it to your cart.



  div.all-guides(ng-class="{'thin-store': invoice.items.length}")

    div.shipping-details
      p Language guides ship the day after they are ordered.
      p Questions? Bulk Orders? <a href="mailto:hello@30words.com" target="_blank">hello@30words.com</a>

    div.guide-box(ng-repeat='guide in guides | filter: searchparam', ng-animate="'animate'")
      div.cover-box
        img.guide-cover(ng-src='{{guide.image}}', ng-click="addItem(guide)")

      div.guide-text
        a.guide-title(href="/store/{{guide.language}}") {{guide.language}}
        button.store-button.add-to-cart(ng-click="addItem(guide)", class="{{ guide.css_style }}-button") Add to Cart
        div.guide-description {{guide.description}}