extends layout

block body

  <div ng-view></div>

  script(src='http://code.angularjs.org/1.2.3/angular.js')
  script(src='http://code.angularjs.org/1.2.3/angular-route.js')
  script(src='http://code.angularjs.org/1.2.3/angular-sanitize.js')
  script(src='js/bootstrap.min.js')
  script(src='js/filters.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/directives.js')
  script(src='js/animations.js')
  script(src='js/app.js')