<!DOCTYPE html>
doctype 5

html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title 30WORDS
    script(src='http://code.jquery.com/jquery-2.0.3.js')
    script(src="https://checkout.stripe.com/checkout.js")
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Open+Sans+Condensed:300', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Rouge+Script', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/free.css')
    link(rel='stylesheet', href='/css/store.css')

  body

    nav.nav-list
     a.logo-box(href='/', ng-click="reloadCtrl()")
      img.logo(src="/images/logo_30words.png")

     ul
      li
       a(href='/') Home
      li
       a(href='demo', ng-class="{active:isActive('/demo')}") Design & Reviews
      li
       a(href='free', ng-class="{active:isActive('/free')}") Students
      li
       a(href='blog', ng-class="{active:isActive('/blog')}", ng-click="reloadCtrl()") Blog
      li
       a(href='store', ng-class="{active:isActive('/store')}", ng-click="reloadCtrl()") Store

     a.store-link(href='store', ng-class="{active:isActive('/store')}") Store

    block body

    div.footer(ng-cloak)
     ul.footer-list
      a
       li
        span hello@30words.com
        i.fa.fa-envelope
      a
       li
        i.fa.fa-facebook-square
      a
       li
        i.fa.fa-twitter-square
