/* app css stylesheet */

* {
  font-family: 'Open Sans', 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.2s ease;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
img {
  border: none;
}

a:hover {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

.nav-list {
  background: rgba(255, 255, 255, 0.92);
  border-bottom: 1px solid #eee;
  height: 80px;
  left: 0;
  padding: 0 6%;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 12;
  box-shadow: 1px 1px 18px rgba(206, 206, 206, 0.1);
}

.active-nav {
  border-bottom: 1px solid #FC5E59;
  border-top: 1px solid #FC5E59;
}

.main {
  padding: 0;
}

.logo {
  display: inline-block;
  margin-right: 10px;
  width: 80px;
  height: 79px;
  border: none !important;
  position: relative;
  top: 0px;
}

.nav-list ul {
  display: inline-block;
  position: absolute;
  top: 30px;
}

.nav-list ul li {
  list-style: none;
  display: inline-block;
  margin-right: 26px;
}

.nav-list ul li a {
  color: #333;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 500;
  padding: 6px;
  text-transform: uppercase;
}

.nav-list ul li a:hover {
  border-bottom: 1px solid #FC5E59;
  border-top: 1px solid #FC5E59;
  text-decoration: none;
}

.store-link {
  background-color: #FF0033;
  background-image: url(images/fallback-gradient.png);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FC5E59), to(rgba(206, 5, 5, 0.78)));
  background-image: -webkit-linear-gradient(top, #FC5E59, rgba(206, 5, 5, 0.78));
  background-image: -moz-linear-gradient(top, #FC5E59, rgba(206, 5, 5, 0.78));
  background-image: -ms-linear-gradient(top, #FC5E59, rgba(206, 5, 5, 0.78));
  background-image: -o-linear-gradient(top, #FC5E59, rgba(206, 5, 5, 0.78));
  border-radius: 0 0 14px 14px;
  box-shadow: 1px 1px 9px rgba(0,0,0,.12);
  color: white;
  font-family: 'Open Sans';
  font-size: 16px;
  padding: 44px 34px 60px;
  position: absolute;
  right: 10%;
  top: 0;
  font-weight: 300;
  z-index: 3;
  text-shadow: 0 0 4px rgba(0,0,0,.2);
  transition: padding 0.2s ease;
}

  .store-link:hover {
    box-shadow: 1px 1px 6px rgba(0,0,0,.2);
    color: white;
    padding: 44px 34px 80px;
    text-decoration: none;
    text-shadow: 0 0 4px rgba(0,0,0,.2);
  }


.footer {
  padding-bottom: 14px;
  height: 38px;
}

.footer-list {
  margin: 0 8%;
  float: right;
}

.footer-list a li {
  display: inline-block;
  list-style: none;
}

.footer-list a li i {
  color: #aaa;
  font-size: 26px;
  margin-right: 8px;
}

.footer-list a li span {
  color: #aaa;
  font-size: 12px;
  margin-right: 8px;
  vertical-align: top;
  position: relative;
  top: 4px;
}

.footer-list a:hover {
  color: #999;
}



