/* app css stylesheet */

* {
  font-family: 'Open Sans', 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.2s ease;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:hover {
  cursor: default;
}

a,
img {
  border: none;
}

a:hover,
a img:hover,
button:hover {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  padding: 0;
}














/*  NAV LIST  */

.nav-list {
  height: 80px;
  left: 0;
  padding: 0 8%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 12;
}


.logo {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: none !important;
  position: relative;
  top: 10px;
}

.nav-list ul {
  display: inline-block;
  position: absolute;
  top: 32px;
}

.nav-list ul li {
  list-style: none;
  display: inline-block;
  margin: 0 14px;
}

.nav-list ul li a {
  color: #777;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 600;
  padding: 4px 0;
  text-transform: uppercase;
}

.nav-list ul li a:hover,
.nav-list ul li a.active {
  text-decoration: underline;
}

.store-link {
  background-color: #FF0033;
  background-image: url(images/fallback-gradient.png);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FC5E59), to(rgba(206, 5, 5, 0.78)));
  background-image: -webkit-linear-gradient(top, #FC5E59, rgba(206, 5, 5, 0.78));
  background-image: -moz-linear-gradient(top, #FC5E59, rgba(206, 5, 5, 0.78));
  background-image: -ms-linear-gradient(top, #FC5E59, rgba(206, 5, 5, 0.78));
  background-image: -o-linear-gradient(top, #FC5E59, rgba(206, 5, 5, 0.78));
  border-radius: 0 0 6px 6px;
  box-shadow: 1px 1px 9px rgba(0,0,0,.12);
  color: white;
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: 400;
  letter-spacing: .02em;
  padding: 90px 20px 17px;
  position: absolute;
  right: 10%;
  top: 0;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0,0,0,.2);
  transition: padding 0.2s ease;
  z-index: 3;
}

  .store-link:hover,
  .store-link.active {
    box-shadow: 1px 1px 6px rgba(0,0,0,.2);
    color: white;
    padding: 74px 20px 19px;
    text-shadow: 0 0 4px rgba(0,0,0,.2);
  }












/*  FOOTER  */

.footer {
  padding: 8px 0;
  border-top: 1px solid #f7f7f7;
  width: 70%;
  margin-left: 15%;
}

.footer-list {
  text-align: right;
}

.footer-list a {
    color: #ccc;
}

.footer-list a li {
  display: inline-block;
  list-style: none;
}

.footer-list a li i {
  font-size: 18px;
  margin-right: 5px;
}

.footer-list a li span {
  color: #ddd;
  font-size: 12px;
  margin-right: 8px;
  vertical-align: top;
  position: relative;
  top: 1px;
}

.footer-list i:hover {
  color: #777;
  cursor: pointer;
}









/*  COLORS  */

.arabic-color {
  color: #D8B528 !important;
}
.french-color {
  color: #BD9AC8 !important;
}
.german-color {
  color: #60C2DD !important;
}
.hebrew-color {
  color: #0423DC !important;
}
.italian-color {
  color: #69BD45 !important;
}
.mandarin-color {
  color: #ED4344 !important;
}
.portuguese-color {
  color: #A44041 !important;
}
.saspanish-color {
  color: #65C3A4 !important;
}
.euspanish-color {
  color: #F39263 !important;
}

.store-button {
  border: none;
  color: white;
  float: none;
  padding: 6px;
}

.store-button:hover {
  box-shadow: 1px 1px 4px rgba(0,0,0,.1) inset;
  padding: 6px 8px;
}

.arabic-button {
  background-color: #D8B528 !important;
}
.french-button {
  background-color: #BD9AC8 !important;
}
.german-button {
  background-color: #60C2DD !important;
}
.hebrew-button {
  background-color: #0423DC !important;
}
.italian-button {
  background-color: #69BD45 !important;
}
.mandarin-button {
  background-color: #ED4344 !important;
}
.portuguese-button {
  background-color: #A44041 !important;
}
.saspanish-button {
  background-color: #65C3A4 !important;
}
.euspanish-button {
  background-color: #F39263 !important;
}