/* app css stylesheet */


.hero-container {
	margin: 0;
	min-height: 500px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}

.hero-image {
	left: 0;
	margin: 0px auto;
	min-height: 100%;
	padding-top: 0px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.guide-zoom {
	bottom: 0px;
	left: 0;
	position: absolute;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	width: 340px;
}

.demo-box {
	margin-top: 15px;
	position: relative;
}

.loading {
	opacity:0.5;
	-webkit-transition: all 0.5s;
}

#slides {
	bottom: 40px;
	height: 240px;
	margin-left: 25%;
	overflow: hidden;
	position: absolute;
	text-align: left;
	width: 50%;
	-webkit-transition: all 0.5s;
	z-index: 6;
}

.slide {
	height:100%;
	list-style: none;
	opacity:0;
	position: absolute;
	top: 0;
	visibility: hidden;
	width:100%;
	-webkit-transform: translate3d(0, 100%, 0);
	-webkit-transition: all 1.5s ease;
}

.slide.active {
	top:0;
	opacity:1;
	-webkit-transform: translate3d(0,0,0);
	visibility: visible;
}

.quote {
	color: #444;
	font-size: 2.8em;
	font-weight: 500;
	line-height: 52px;
	margin: 20px 0;
	text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.71);
}

.quote-author {

}













/* BELOW THE FOLD */

.below-the-fold {
  background: white;
  width: 70%;
  margin-left: 15%;
}

.below-title {
  margin: 60px 0;
  text-align: center;
  width: 100%;
}

.below-title h1 {
  	color: #555;
	font-size: 3.2em;
	font-weight: 400;
	line-height: 56px;
	margin: 20px auto;
	width: 70%;
}

.feature-box {
  padding: 60px 0;
  position: relative;
}

.image-left {
  margin-right: 4%;
}

.feature-box h2 {
  font-size: 40px;
  font-weight: 400;
}

.feature-box-write-up {
  color: #555;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  vertical-align: top;
  width: 60%;
}

.feature-box-write-up.final-feature {
	width: 100%;
}

.feature-box-write-up.float-right {
  text-align: right;
  right: 0;
}

.feature-box-write-up.float-right div {
  float: right;
}

.feature-box-write-up div {
  font-size: 20px;
	line-height: 32px;
	margin-top: 18px;
	width: 90%;
	color: #777;
	font-weight: 300;
}

.feature-box img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.2) inset;
  display: inline-block;
  max-width: 35%;
  vertical-align: middle;
}

		.feature-box img:hover {
			box-shadow: 0 0 20px rgba(0,0,0,.2) inset;
			padding: 10px;
			-webkit-transform: rotate(2deg);
			-ms-transform: rotate(2deg);
			transform: rotate(2deg);
		}

.feature-box:last-of-type {
	text-align: center;
}

.big-button {
	background-color: #60C2DD;
	display: inline-block;
	color: white;
	font-size: 24px;
	font-weight: 300;
	margin: 30px 0 50px;
	padding: 18px 30px;
	border-radius: 4px;
}

	.big-button:hover {
		background-color: #40B2CD;
		color: white;
	}

.portable-image {
	/*border-radius: 50%;*/
}

.focused-content-image {
	border-radius: 50%;
}

.afforable-image {
	display: inline-block;
	max-width: 35%;
	vertical-align: middle;
	border-radius: 50%;
}

.ultra-durable-image {
	border-radius: 50%;
}

.upcyclable-image {
	border-radius: 50%;
}