/* app css stylesheet */
.contact-box {
  background-color: #FF9933;
  bottom: 10%;
  float: right;
  position: fixed;
  right: 10%;
  z-index: 10;
}

.contact-form {
  padding: 10px 50px;
}

.contact-form input {
  display: block;
  margin: 10px;
}

.hero-content {
  padding-top: 10px;
  position: absolute;
  text-align: center;
}

.content-box {
  position: absolute;
  top: 13%;
  left: 10%;
}

.subtitle {
  color: #FFF;
  font-size: 62px;
  font-weight: 300;
  line-height: 68px;
  margin: 10px 22% 15px;
  text-shadow: -1px 1px 12px rgb(9, 9, 9);
  width: 58%;
}

.blurb {
  color: #FFF;
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
  margin: 80px;
  text-shadow: -1px 1px 12px rgb(9, 9, 9);
  width: 40%;
}

#slides li {
  list-style: none;
  position: relative;
}

#slides li img {
  width:100%;
}

#slides h2 {
}