.hero-container {
	min-height: 590px;
	position: relative;
}

.hero-image {
  position: absolute;
  top: 0;
  margin: 0px auto;
  width: 100%;
  left: 0;
  z-index: 0;
  padding-top: 0px;
}

.hero-box {
  margin: 0;
  position: relative;
  height: 500px;
  width: 100%;
}

.store-top-content {
	position: absolute;
	top: 215px;
	margin-left: 25%;
	width: 70%;
}

/* CART VISIBLE */

.store-top-content.cart {
	text-align: left;
}

.store-top-content.cart .features-list {
	margin-left: 0;
}

.store-top-content.cart .features-list li {
	margin-left: 0;
}

.store-top-content h1 {
	font-size: 48px;
	line-height: 50px;
	margin-bottom: 12px;
	font-weight: 400;
	text-shadow: -1px 1px 1px rgb(255, 255, 255);
	color: #444;
}

.fa-circle {
	font-size: 6px;
	position: relative;
	top: -11px;
	color: #777;
	margin: 0 2px;
}

.features-list {
	margin: 20px 0;
	width: 60%;
}

.features-list li {
	color: #333;
	font-size: 22px;
	font-weight: 400;
	line-height: 38px;
	list-style: none;
	text-shadow: 0 0 6px rgba(255, 255, 255, 0.57);
}

.total {
	background: white;
	border-top: 1px solid #ddd;
	top: 0;
	box-shadow: 1px -1px 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px -1px 0 rgba(255,255,255,.5);
	position: fixed;
	padding: 20px 3% 25px;
	width: 340px;
	z-index: 1;
	border-bottom: 1px solid #ccc;
	margin-left: 30px;
	border-radius: 0 0 5px 5px;
}

.total p {
	font-size: 14px;
	margin: 0 4px 4px 0;
	vertical-align: top;
	color: #777;
}

.total-logo {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	opacity: .2;
}

#shopping-cart {
	background: #eae8e1 url(https://gethelium.com/static/images/shared/grain.gif) left bottom repeat;
	position: fixed;
	top: 0;
	height: 100%;
	box-shadow: -2px 0 16px rgba(0,0,0,.45),inset 1px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: -2px 0 16px rgba(0,0,0,.45),inset 1px 0 0 rgba(255,255,255,.5);
	-moz-box-shadow: -2px 0 16px rgba(0,0,0,.45),inset 1px 0 0 rgba(255,255,255,.5);
	z-index: 9999991;
	overflow: scroll;
	width: 400px;
	right: 0;
}


.all-languages-in-cart {
	overflow: scroll;
	margin-top: 150px;
}

.all-languages-in-cart p {
	margin: 10px 5%;
	font-size: 12px;
	color: #777;
}

.guide-in-cart-box {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,.5);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.35);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.5);
	display: block;
	padding: 10px 10%;
	position: relative;
	width: 100%;
}

.guide-in-cart-box:hover {
	background-color: rgba(0,0,0,.1);
}

.guide-in-cart {
	border-radius: 4px;
	margin: 10px 2px;
	width: 100%;
}

.guide-in-cart img {
	box-shadow: 1px 1px 8px rgba(0,0,0,.2);
	display: inline-block;
	width: 90px;
	position: relative;
}

	.guide-in-cart img:hover {
		cursor: pointer;
	}

.guide-in-cart-details {
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
}

.guide-in-cart-details p {
	font-weight: 300;
	font-size: 16px;
	margin: 0 4px 8px 0;
	vertical-align: top;
	color: #555;
}

.guide-in-cart i {
	position: absolute;
	top: 5px;
	font-size: 20px;
	color: #aaa;
	right: 10%;
}

	.guide-in-cart i:hover {
		color: #777;
		cursor: pointer;
	}

.guide-in-cart input {
	width: 20%;
	min-width: 50px;
	height: 30px;
	box-shadow: 1px 1px 4px rgba(0,0,0,.1) inset;
}

.add-more {
	color: #777;
	font-size: 12px;
	margin: 10px 5%;
	text-align: center;
}

.bottom-braid {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 20px;
	background-image: url(https://gethelium.com/static/images/shared/ui.png);
	background-repeat: no-repeat;
	background-position: -20px -341px;
	bottom: -16px;
}

.thin-store {
	text-align: left;
	width: 800px !important;
}

.thin-store .shipping-details {
	margin-left: 0;
	text-align: left;
}

.thin-store .guide-box {
	width: 100%;
}

.all-guides {
	margin: 20px 0 0 8%;
	width: 84%;
}

.shipping-details {
	border-bottom: 1px solid #eee;
	color: #777;
	font-weight: 400;
	margin-left: 25%;
	margin-bottom: 20px;
	padding-bottom: 10px;
	text-align: center;
	width: 50%;
}

.shipping-details p {
	margin: 5px 0;
}

.shipping-details a {
	color: #60C2DD;
}

.guide-box {
	display: inline-block;
	min-width: 400px;
	width: 48%;
	margin: 40px 2% 40px 0;
	vertical-align: top;
	padding: 15px;
}

.cover-box {
	display: inline-block;
	margin-right: 20px;
	min-width: 150px;
	position: relative;
	text-align: center;
}

button.add-to-cart {
	position: relative;
	display: block;
	margin: 10px 0;
	font-size: 12px;
}

/*.guide-box:nth-of-type(3n-2) .cover-box img {
	transform:rotate(-1deg);
	-ms-transform:rotate(-1deg);
	-webkit-transform:rotate(-1deg);
}

.guide-box:nth-of-type(3n-1) .cover-box img {
	transform:rotate(-2deg);
	-ms-transform:rotate(-2deg);
	-webkit-transform:rotate(-2deg);
}

.guide-box:nth-of-type(3n) .cover-box img {
	transform:rotate(1deg);
	-ms-transform:rotate(1deg);
	-webkit-transform:rotate(1deg);
}*/

.guide-box .cover-box:hover img {
	transform:rotate(-1deg);
	-ms-transform:rotate(-1deg);
	-webkit-transform:rotate(-1deg);
}

.guide-cover {
	border-radius: 4px;
	box-shadow: 0 5px 8px rgba(0,0,0,.3);
	display: inline-block;
	width: 220px;
}

.guide-cover:hover {
	box-shadow: 0 5px 10px rgba(0,0,0,.4);
	cursor: pointer;
}

.guide-text {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

/*.add-to-cart {
	padding: 4px 8px;
	position: absolute;
	top: 50px;
	z-index: 3;
}*/

.guide-title {
	color: #555;
	display: inline-block;
	font-size: 22px;
	margin-bottom: 10px;
	vertical-align: top;
}

.stripe-button-el {
	overflow: hidden;
	display: inline-block;
	visibility: visible!important;
	background-image: -webkit-linear-gradient(#28a0e5,#015e94);
	background-image: -moz-linear-gradient(#28a0e5,#015e94);
	background-image: -ms-linear-gradient(#28a0e5,#015e94);
	background-image: -o-linear-gradient(#28a0e5,#015e94);
	background-image: -webkit-linear-gradient(#28a0e5,#015e94);
	background-image: -moz-linear-gradient(#28a0e5,#015e94);
	background-image: -ms-linear-gradient(#28a0e5,#015e94);
	background-image: -o-linear-gradient(#28a0e5,#015e94);
	background-image: linear-gradient(#28a0e5,#015e94);
	-webkit-font-smoothing: antialiased;
	border: 0;
	padding: 1px;
	margin-top: 6px;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	-ms-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	-o-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
}

.stripe-button-el span {
	display: block;
	position: relative;
	padding: 0 12px;
	height: 30px;
	line-height: 30px;
	background: #1275ff;
	background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
	background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
	background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
	background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
	background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
	background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
	background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
	background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
	background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	-ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	-o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.vietnamese-button {
	background-color: #9AD741;
}